<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SecondProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!--  Add context param -->
  <context-param>
	<param-name>resteasy.role.based.security</param-name>
	<param-value>true</param-value>
  </context-param>
  <!--  Add security constraint -->
<security-constraint>
	<web-resource-collection>
		<web-resource-name>REST Resources</web-resource-name>
		<url-pattern>/api/Owner/*</url-pattern>
	</web-resource-collection>
	<auth-constraint>
		<role-name>customer</role-name>
		<role-name>runner</role-name>
		<role-name>owner</role-name>
	</auth-constraint>
</security-constraint>
<!--  Add security role -->
<security-role>
	<role-name>customer</role-name>
</security-role>
<security-role>
	<role-name>runner</role-name>
</security-role>
<security-role>
	<role-name>owner</role-name>
</security-role>
<!-- Add login config -->
<login-config>
	<auth-method>BASIC</auth-method>
	<realm-name>ApplicationRealm</realm-name>
	
</login-config>
</web-app>